.reveal section.title h1 {
    margin-top: 2.3em;
}

.mjx-math {
    font-size: 1.5em !important;
    color: green !important;
}

.mjx-math {
    font-size: 1.5em !important;
    color: blue !important;
}

.math-content-inline {
    color: red;
}